
@model mvcCustomer.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>